<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subject</title>
</head>
<body>

    <form action="/addsubject" method="post">
        <label for="subject_id">Subject ID:</label>
        <input type="text" id="subject_id" name="subject_id" required><br><br>

        <label for="subject_name">Subject Name:</label>
        <input type="text" id="subject_name" name="subject_name" required><br><br>
        <button type="submit">Register</button>
    </form>

</body>
</html>