<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <title>Admin</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/admin" method="post">

        <label for="teacher_id">Professor ID:</label>
        <input type="text" id="teacher_id" name="teacher_id" required><br><br>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>


    <form action="/update-password" method="POST">
        <h1>Teacher Update password</h1>
        <label for="teacher_id">Select Teacher:</label>
        <select name="teacher_id" id="teacher_id" required>
          <% teacher.forEach(teacherData => { %>
            <option value="<%= teacherData %>"><%= teacherData %></option>
          <% }); %>
        </select>
      
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
      
        <button type="submit">Update Password</button>
      </form>

      <form action="/student_update-password" method="POST">
        <h1>Student Update password</h1>
        <label for="student_id">Select Student:</label>
        <select name="student_id" id="student_id" required>
          <% student.forEach(studentData => { %>
            <option value="<%= studentData %>"><%= studentData %></option>
          <% }); %>
        </select>
      
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
      
        <button type="submit">Update Password</button>
      </form>

    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/profaccounts">View Prof Account</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/addsubject">Add Subject</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/addprof_to_subject">Assign Professor</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/student">Add Student</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/addstudent_to_subject">Assign Student</a></button>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>