<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/">Home</a></button>

    

    <h1>Login</h1>
    <% if (typeof error !== 'undefined') { %>
        <p><%= error %></p>
    <% } %>

 
    <form action="/adminprof" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>

    
</body>
</html>
