<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>

    <form action="/student" method="POST">
        <!--<label for="subject">Select Subject:</label>
        <select name="subject" id="subject">
            <% subjects.forEach(subject => { %>
                <option value="<%= subject %>"><%= subject %></option>
            <% }); %>
        </select> <br><br>-->

        

        <label for="student_id">Student number: </label>
        <input type="text" id="student_id" name="student_id" required><br><br>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="year_level">Year Level:</label>
        <input type="text" id="year_level" name="year_level" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Submit</button>

    </form>

    
    
</body>
</html>